<form
  class="contact-form form-validate mt-5"
  method="POST"
  action="/books/<%=book._id%>?_method=PUT"
>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="form-group">
            <label class="form-label" for="title">Book Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="<%= book.title%>"
            />
          </div>
        </div>

        <div class="col-sm-6 mb-2">
          <div class="form-group">
            <label class="form-label" for="author">Book Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              name="author"
              value="<%= book.author%>"
            />
          </div>
        </div>

        <div class="col-sm-6 mb-2">
          <div class="form-group">
            <label class="form-label" for="genre">Genre</label>
            <input
              type="text"
              class="form-control"
              id="genre"
              name="genre"
              value="<%= book.genre%>"
            />
          </div>
        </div>

        <div class="col-sm-6 mb-2">
          <div class="form-group">
            <label class="form-label" for="language">Language</label>
            <input
              type="text"
              class="form-control"
              id="language"
              name="language"
              value="<%= book.language%>"
            />
          </div>
        </div>

        <div class="col-sm-4 mb-2">
          <div class="form-group">
            <label class="form-label" for="publisher">Publisher</label>
            <input
              type="text"
              class="form-control"
              id="publisher"
              name="publisher"
              value="<%= book.publisher%>"
            />
          </div>
        </div>

        <div class="col-sm-4 mb-2">
          <div class="form-group">
            <label class="form-label" for="published_year">Published</label>
            <input
              type="number"
              class="form-control"
              id="published_year"
              name="published_year"
              value="<%= book.published_year%>"
            />
          </div>
        </div>

        <div class="col-sm-4 mb-2">
          <div class="form-group">
            <label class="form-label" for="pages">Page Count</label>
            <input
              type="number"
              class="form-control"
              id="pages"
              name="pages"
              value="<%= book.pages%>"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="form-group">
            <label class="form-label" for="book_cover">Update Book Cover</label>
            <input type="file" class="filepond" />
          </div>
        </div>

        <div class="col-sm-6 mb-3">
          <div class="form-group">
            <label class="form-label" for="author_image"
              >Update Author Image</label
            >
            <input type="file" class="filepond" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-6 mb-3">
      <div class="form-group">
        <label class="form-label" for="book_description"
          >Update Book Description</label
        >
        <textarea
          class="form-control"
          id="book_description"
          name="book_description"
          rows="5"
          placeholder="<%= book.book_description%>"
        ></textarea>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="form-group">
        <label class="form-label" for="message">Update About Author</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="5"
          placeholder="<%= book.about_author%>"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="my-4">
    <button type="submit" name="submit" class="btn btn-success px-4">
      Update Book
    </button>
    <a
      type="button"
      href="/books/<%=book._id%>"
      class="btn btn-outline-dark px-4 mx-2"
    >
      Cancel</a
    >
  </div>
</form>
